version: '3.8'

services:
  db:
    image: postgres:15
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - app-network
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - app-network
    ports:
      - "8000:8000"
    command: uv run python manage.py runserver 0.0.0.0:8000

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
